<h2>My Heroes</h2>
<div>
  <label>Hero name:
    <input #heroName />
  </label>
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="add(heroName.value); heroName.value=''">
    add
  </button>
</div>
<ul class="heroes">
  <!-- 
    Angular classbinding
    [class.anyClassWichShouldBeAppended]="Condition (Bedingung)" 
  -->
  <li *ngFor="let hero of heroes">
    <a routerLink="/detail/{{hero.id}}">
      <span class="badge">{{hero.id}}</span> {{hero.name}}
    </a>
    <button class="delete" title="delete hero"
    (click)="delete(hero)">x</button>
  </li>
</ul>
<!--
   this hero is the variable in the hero-detail-component.ts.
   It is annotated with the @Input() decorator and is the child
   of these relationchip.
   Called Angular property binding.
   It's a one way data binding from the selectedHero property 
   of the HeroComponent to the hero property of the target element, 
   which maps to the hero property of the HeroDetailComponent.
  -->
<!--<app-hero-detail [hero]="selectedHero"></app-hero-detail>-->
